.activities-wrapper {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

  .post, iframe, .activities {
    width: inherit;
    max-width: 80vh;
    border-radius: 20px;
  }

  #activities-pagination {
    position: fixed;
    bottom: 2vh;
  }

  .btn {
    display: initial;
    background-color: black;
    box-shadow: 0 0 10px black;
    color: white;
    padding: 10px;
    margin: 2px;
    text-decoration: none;
    cursor: pointer;
  }

  .btn:hover {
    transition: all .3s;
    background-color: rgba(51, 51, 51, 0.945);
  }

  .btn-disable {
    pointer-events: none;
    padding: 10px;
    margin: 2px;
    background-color: black;
    box-shadow: 0 0 10px black;
    opacity: 0.5;
  }

  .activities {
    opacity: 0;
  }

  .show {
    animation: 1s ease-out 0s 1 fadeIn;
    opacity: 1;
  }
}