.skill-samples-container {
    color: white;
    display: grid;

    img {
        height: 2.5rem;
        margin-right: 10px;
        padding-bottom: 1rem;
    }

    a {
        text-decoration: none;
        color: rgb(146, 146, 146);
        font-size: 1rem;
    }

    a:hover {
        color: rgb(255, 255, 255);
    }

    .skill-detail-container {
        overflow-y: auto;
        max-height: 400px;
        max-width: 400px;
    }

    .skill-sample-detail {
        padding: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;
        border: solid 1px rgb(129, 129, 129);
        border-radius: 20px;
    }
    
    #btnClose {
        text-align: center;
        border-radius: 20px;
        padding: 10px;
        background-color: black;
        color: white;
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
    }
}

.Modal {
    position: absolute;
    inset: 50% auto auto 50%;
    border: 1px solid rgb(53, 53, 53);
    box-shadow: 0px 0px 10px #606060;
    background: rgb(30, 30, 30) none repeat scroll 0% 0%;
    overflow: auto;
    border-radius: 4px;
    outline: currentcolor none medium;
    padding: 20px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    min-width: 20%;
    border-radius: 20px;
}

@media only screen and (max-width: 500px) {
    .Modal {
        width: 80%;
        margin: auto;
    }
}