.skills-container {
  width: 80vw;
  margin-top: 5vh;
  flex-direction: column;
  align-items: center;
  text-align: center;

  *:focus {
    outline: 0;
  }

  h1 {
    font-size: 3rem;
    line-height: 20px;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    grid-gap: 20px;
    padding: 2vh;

    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
    }

    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr;
    }

    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr 1fr;
    }

    .skill {
      display: flex;
      flex-direction: column; 
      align-items: center;
      text-align: center;
      background: #1e1e1e;
      padding: 20px;
      border-radius: 50px;

      img {
        height: 3rem;
      }

      p {
        font-size: 14px;
      }
    }

    .skill:hover {
      transform: scale(1.05, 1.05);
      background: #333333;

      .btn {
        opacity: 1;
      }
    }
    
    .skill.select {
      transition: all .2s cubic-bezier(0.100, 0.50, 0.30, 1);
    }
  }

  .btn {
    cursor: pointer;
    opacity: 0;
  }

  .slick-next, .slick-prev {
    margin-top: 20px;
  }
}