.work-wrapper {
  width: 80vw;
  margin-top: 5vh;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  h1 {
    font-size: 3rem;
    line-height: 20px;
  }

  p {
    margin: 20px;
  }

  #exploreBtn {
    bottom: 2vh;
    position: absolute;
    transform: translateX(-50%);
  }

  .grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
    }
    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr;
    }
    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr 1fr;
    }
  }
}

#work {
  padding-bottom: 5vh;
}